.project {
  position: relative;
  padding-bottom: 1.6rem;

  .container__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;

    .infos {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 14px;
      row-gap: 8px;
    }
  }

  img {
    max-width: 100%;
    border-radius: 0.4rem;
    align-self: center;
    z-index: -1;
    transition: .3s ease;
    background-color: transparent;
  }
}

@media (min-width: 760px) {
  .project {
    max-width: 42vw;
  }
}


@media (min-width: 1150px) {
  .project {
    img {
      max-height: 30vh;
    }
  }
}

@media (min-width: 1340px) {
  .project {
    max-width: 50vw;

    img {
      max-height: 40vh;
    }
  }
}