.orbit {
  position: relative;
  max-width: 50px;
  max-height: 50px;

  .rotation {
    position: absolute;
    bottom: -1445px;
    z-index: -2;
    filter: opacity(0.5);
    width: 1200px;
    height: 1200px;
    border: 2px solid #ccc;
    border-radius: 50%;
    animation: animateOrbit 8s linear infinite;
    right: -365px;

    &.uranus {
      animation: animateOrbit 10s linear infinite;
      left: 1100px;
      top: -325px;
      z-index: -1;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .orbit .rotation.uranus {
    left: 825px;
    top: -425px;
  }
}


@keyframes animateOrbit {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}