header {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  width: 100vw;
  align-items: center;
  gap: 12px;
  padding: 24px;
  justify-content: space-between;
  background-color: var(--clr-white-100);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  span {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (min-width: 760px) {
  header  {
    padding: 2.5rem;

    span {
      font-size: 16px;
    }
  }
}