footer {
  padding: 2.2rem;
  padding-bottom: 120px;

  .logo {
    padding-bottom: 6px;
  }

  .container__content {
    display: grid;
    justify-content: center;
    gap: 0.6rem;

    h1 {
      font-size: 2rem;
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      text-decoration: none;
      color: var(--clr-black-100);    

      span {
        font-weight: 500;
      }
    }
  }
}