@use './scss/colors' as *;

:root {

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }

  font-family: 'Noto Sans', sans-serif;
  // color-scheme: light dark;
  color: var(--clr-black-100);
  background-color: var(--clr-white-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
