.link {
  position: relative;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  color: var(--clr-black-100);
  outline: none;
  letter-spacing: 1px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--clr-gray-300);
    transition: all 0.3s ease;
    transform: scale(1);
  }

  &:hover:after {
    transform: scale(0.85);
  }

  &.info {
    cursor: auto;
    font-weight: 300;
    font-size: 18px;

    &:after {
      display: none;
    }
  
    &:hover:after {
      display: none;
    }
  }
}